rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /books/{bookId}/pages/{fileName} {
      allow read: if request.auth != null
        && firestore.get(/databases/(default)/documents/books/$(bookId)).data.userId == request.auth.uid;
      allow write: if false;
    }
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
